*{
    margin: 0;
    padding: 0;
}
:root{
    --gray-70: #707070;
    --orange-59: #FF5959;
    --black-12: #121212;
}

/* primary btn  */
.btn_primary{
    padding: 16px;
    border-radius: 5px;
    border: none;
    background-color: var(--orange-59);
    color: white;
    width: 160px;
    cursor: pointer;
    font-size: 20px;
}

.primary_h1{
    color: var(--black-12);
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.primary_p{
    color: var(--gray-70);
    font-size: 18px;
}

/* header  */
header {
    background-image: url('./donate-today resources/images/donation14.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
}

header div {
    text-align: center;
    width: 826px;
    height: 320px;
    margin: 174px 307px 175px 307px;
}

header div p{
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
}

header div h1{
    font-size: 65px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

/* donate today  */
.donate_today{
    margin-bottom: 130px;
    text-align: center;
}

.donate_today .taka{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    gap: 22px;
    margin-bottom: 60px;
}

.taka .amount p{
    /* border: 1px solid; */
    padding: 43px 25px;
    font-weight: bold;
    color: var(--gray-70);
    font-size: 30px;
    /* margin-bottom: 60px; */
}

.taka .two_hundred p{
    color: var(--orange-59);
    border: 1px solid var(--orange-59);
    border-radius: 5px;
}

.donate_today form input {
    border: none;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 30px;
    width: 100%;
    padding: 9px;
    text-align: center;
    font-size: 18px;
}

/* donate plan  */
.donate_plan{
    margin-bottom: 130px;
}

.donate_plan_header{
    text-align: center;
    margin-bottom: 50px;
}

.donate_sections{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.donate_section img{
    width: 58px;
    height: 49px;
    margin-bottom: 31px;
}

.donate_sections h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: var(--black-12);
}

.donate_sections p{
    font-size: 16px;
    color: var(--gray-70);
}

.donate_section{
    padding: 63px 22px 54px 23px;
}

.donate_section{
    width: 360px;
    height: 200px;
}

.donate_sections > div:nth-child(1){
    background-color: rgba(130, 227, 240, 0.747);
}

.donate_sections > div:nth-child(2){
    background-color: rgb(240, 150, 150);
}

.donate_sections > div:nth-child(3){
    background-color: bisque;
}




